<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Batches</title>
</head>
<body>
    <h1> Batches list</h1>
        <p> this is list of batches</p>
    {% comment %} <u1>
        {% for x in mybatches %}
        <li><a href="details/{{ x.id }}">Batch: {{ x.namebatch }}, Style: {{  x.stylebatch }}</a>


        {% endfor %}
        </li>

    </u1> {% endcomment %}

    {% for bat in object_list %}
        <li><a href="{{ bat.id }}"> Batch number: {{ bat.id }}, Name: {{bat.namebatch }} , Style: {{ bat.stylebatch }} </a>
        </li>

     {% empty %}
        <li> No batches yet </li>
        
    {% endfor %}

</body>
</html>